vti_encoding:SR|utf8-nl
vti_author:SR|CLAUDIA\\Administrator
vti_modifiedby:SR|CLAUDIA\\Administrator
vti_timelastmodified:TR|30 May 2003 06:18:43 -0000
vti_timecreated:TR|30 May 2003 06:18:43 -0000
vti_cacheddtm:TX|30 May 2003 06:18:34 -0000
vti_filesize:IR|4917
vti_cachedlinkinfo:VX|S|cyprbnr.gif S|cyprhbd.gif S|cyprhbsd.gif S|cyprhomd.gif S|cyprnxtd.gif S|cyprprvd.gif S|cyprupd.gif S|cyprglbu.gif S|cyprvbd.gif S|cyprvbsd.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/cypress/cyprbnr.gif FSUS|_themes/cypress/cyprhbd.gif FSUS|_themes/cypress/cyprhbsd.gif FSUS|_themes/cypress/cyprhomd.gif FSUS|_themes/cypress/cyprnxtd.gif FSUS|_themes/cypress/cyprprvd.gif FSUS|_themes/cypress/cyprupd.gif FSUS|_themes/cypress/cyprglbu.gif FSUS|_themes/cypress/cyprvbd.gif FSUS|_themes/cypress/cyprvbsd.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{E2779037-D0FB-43E4-A62C-039C11FC3841}
vti_backlinkinfo:VX|
