vti_encoding:SR|utf8-nl
vti_author:SR|CLAUDIA\\Administrator
vti_modifiedby:SR|CLAUDIA\\Administrator
vti_timelastmodified:TR|30 May 2003 06:18:44 -0000
vti_timecreated:TR|30 May 2003 06:18:44 -0000
vti_cacheddtm:TX|30 May 2003 06:18:35 -0000
vti_filesize:IR|10441
vti_cachedlinkinfo:VX|S|cyprglbu.gif S|cyprbk.jpg S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/cypress/cyprglbu.gif FSUS|_themes/cypress/cyprbk.jpg FSUS|_themes/cypress/blank.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{078A9F4F-F72A-42E1-8A29-645D2BDA1FB8}
vti_backlinkinfo:VX|
