.JB {	background-image: url(photos/JB.jpg); background-position: center; background-repeat : no-repeat}
.JB:hover {	background-image: url(photos/JB1.jpg); background-position: center; background-repeat : no-repeat}
.Evan {	background-image: url(photos/Evan.jpg); background-position: center; background-repeat : no-repeat}
.Evan:hover {	background-image: url(photos/Evan1.jpg); background-position: center; background-repeat : no-repeat}
.Wenjie {	background-image: url(photos/Wenjie.jpg); background-position: center; background-repeat : no-repeat}
.Wenjie:hover {	background-image: url(photos/Wenjie1.jpg); background-position: center; background-repeat : no-repeat}
.Haifei {	background-image: url(photos/Haifei.jpg); background-position: center; background-repeat : no-repeat}
.Haifei:hover {	background-image: url(photos/Haifei1.jpg); background-position: center; background-repeat : no-repeat}
.Nancy {	background-image: url(photos/Nancy.jpg); background-position: center; background-repeat : no-repeat}
.Nancy:hover {	background-image: url(photos/Nancy1.jpg); background-position: center; background-repeat : no-repeat}
.Ahmed {	background-image: url(photos/Ahmed.jpg); background-position: center; background-repeat : no-repeat}
.Ahmed:hover {	background-image: url(photos/Ahmed1.jpg); background-position: center; background-repeat : no-repeat}
.Lucy {	background-image: url(photos/Lucy.jpg); background-position: center; background-repeat : no-repeat}
.Lucy:hover {	background-image: url(photos/Lucy1.jpg); background-position: center; background-repeat : no-repeat}
.Emma {	background-image: url(photos/Emma.jpg); background-position: center; background-repeat : no-repeat}
.Emma:hover {	background-image: url(photos/Emma1.jpg); background-position: center; background-repeat : no-repeat}
.Ben {	background-image: url(photos/Ben.jpg); background-position: center; background-repeat : no-repeat}
.Ben:hover {	background-image: url(photos/Ben1.jpg); background-position: center; background-repeat : no-repeat}
.Nora {	background-image: url(photos/Nora.jpg); background-position: center; background-repeat : no-repeat}
.Nora:hover {	background-image: url(photos/Nora1.jpg); background-position: center; background-repeat : no-repeat}
.Kiyo {	background-image: url(photos/Kiyo.jpg); background-position: center; background-repeat : no-repeat}
.Kiyo:hover {	background-image: url(photos/Kiyo1.jpg); background-position: center; background-repeat : no-repeat}
.SG {	background-image: url(photos/SG.jpg); background-position: center; background-repeat : no-repeat}
.SG:hover {	background-image: url(photos/SG1.jpg); background-position: center; background-repeat : no-repeat}
.KC {	background-image: url(photos/KC.jpg); background-position: center; background-repeat : no-repeat}
.KC:hover {	background-image: url(photos/KC1.jpg); background-position: center; background-repeat : no-repeat}
.Sandipan {	background-image: url(photos/Sandi.jpg); background-position: center; background-repeat : no-repeat}
.Sandipan:hover {	background-image: url(photos/Sandi1.jpg); background-position: center; background-repeat : no-repeat}
.Takashi {	background-image: url(photos/Takashi.jpg); background-position: center; background-repeat : no-repeat}
.Takashi:hover {	background-image: url(photos/Takashi1.jpg); background-position: center; background-repeat : no-repeat}
.Pedro {	background-image: url(photos/Pedro.jpg); background-position: center; background-repeat : no-repeat}
.Pedro:hover {	background-image: url(photos/Pedro1.jpg); background-position: center; background-repeat : no-repeat}
.Hoday {	background-image: url(photos/Hoday.jpg); background-position: center; background-repeat : no-repeat}
.Hoday:hover {	background-image: url(photos/Hoday1.jpg); background-position: center; background-repeat : no-repeat}
.Steve {	background-image: url(photos/Steve.jpg); background-position: center; background-repeat : no-repeat}
.Steve:hover {	background-image: url(photos/Steve1.jpg); background-position: center; background-repeat : no-repeat}
.Chenxu {	background-image: url(photos/Chenxu.jpg); background-position: center; background-repeat : no-repeat}
.Chenxu:hover {	background-image: url(photos/Chenxu1.jpg); background-position: center; background-repeat : no-repeat}
.Guoyuan {	background-image: url(photos/Guoyuan.jpg); background-position: center; background-repeat : no-repeat}
.Guoyuan:hover {	background-image: url(photos/Guoyuan1.jpg); background-position: center; background-repeat : no-repeat}
.James {	background-image: url(photos/James.jpg); background-position: center; background-repeat : no-repeat}
.James:hover {	background-image: url(photos/James1.jpg); background-position: center; background-repeat : no-repeat}
.Will {	background-image: url(photos/Will.jpg); background-position: center; background-repeat : no-repeat}
.Will:hover {	background-image: url(photos/Will1.jpg); background-position: center; background-repeat : no-repeat}
.Chi-Shen {	background-image: url(photos/Chi-Shen.jpg); background-position: center; background-repeat : no-repeat}
.Chi-Shen:hover {	background-image: url(photos/Chi-Shen1.jpg); background-position: center; background-repeat : no-repeat}
.Oak {	background-image: url(photos/Oak.jpg); background-position: center; background-repeat : no-repeat}
.Oak:hover {	background-image: url(photos/Oak1.jpg); background-position: center; background-repeat : no-repeat}
.Mike {	background-image: url(photos/Mike.jpg); background-position: center; background-repeat : no-repeat}
.Mike:hover {	background-image: url(photos/Mike1.jpg); background-position: center; background-repeat : no-repeat}
.DongJin {	background-image: url(photos/DongJin.jpg); background-position: center; background-repeat : no-repeat}
.DongJin:hover {	background-image: url(photos/DongJin1.jpg); background-position: center; background-repeat : no-repeat}
.WangCong {	background-image: url(photos/WangCong.jpg); background-position: center; background-repeat : no-repeat}
.WangCong:hover {	background-image: url(photos/WangCong1.jpg); background-position: center; background-repeat : no-repeat}
.Wenlong {	background-image: url(photos/Wenlong.jpg); background-position: center; background-repeat : no-repeat}
.Wenlong:hover {	background-image: url(photos/Wenlong1.jpg); background-position: center; background-repeat : no-repeat}
.Raechel {	background-image: url(photos/Raechel.jpg); background-position: center; background-repeat : no-repeat}
.Raechel:hover {	background-image: url(photos/Raechel1.jpg); background-position: center; background-repeat : no-repeat}
.Yizhou {	background-image: url(photos/Yizhou.jpg); background-position: center; background-repeat : no-repeat}
.Yizhou:hover {	background-image: url(photos/Yizhou.jpg); background-position: center; background-repeat : no-repeat}
.Omar {	background-image: url(photos/Omar.jpg); background-position: center; background-repeat : no-repeat}
.Omar:hover {	background-image: url(photos/Omar1.jpg); background-position: center; background-repeat : no-repeat}
.Junkai {	background-image: url(photos/Junkai.jpg); background-position: center; background-repeat : no-repeat}
.Junkai:hover {	background-image: url(photos/Junkai1.jpg); background-position: center; background-repeat : no-repeat}
.Hiroshi {	background-image: url(photos/Hiroshi.jpg); background-position: center; background-repeat : no-repeat}
.Hiroshi:hover {	background-image: url(photos/Hiroshi1.jpg); background-position: center; background-repeat : no-repeat}
.Chung-Yen {	background-image: url(photos/Chung-Yen.jpg); background-position: center; background-repeat : no-repeat}
.Chung-Yen:hover {	background-image: url(photos/Chung-Yen1.jpg); background-position: center; background-repeat : no-repeat}
.Minghui {	background-image: url(photos/Minghui.jpg); background-position: center; background-repeat : no-repeat}
.Minghui:hover {	background-image: url(photos/Minghui1.jpg); background-position: center; background-repeat : no-repeat}
.Chen-Yu {	background-image: url(photos/Chen-Yu.jpg); background-position: center; background-repeat : no-repeat}
.Chen-Yu:hover {	background-image: url(photos/Chen-Yu1.jpg); background-position: center; background-repeat : no-repeat}

.Shang-Chen {	background-image: url(photos/Shang-Chen.jpg); background-position: center; background-repeat : no-repeat}
.Shang-Chen:hover {	background-image: url(photos/Shang-Chen1.jpg); background-position: center; background-repeat : no-repeat}
.Chun-Chih {	background-image: url(photos/Chun-Chih.jpg); background-position: center; background-repeat : no-repeat}
.Chun-Chih:hover {	background-image: url(photos/Chun-Chih1.jpg); background-position: center; background-repeat : no-repeat}
.Soo {	background-image: url(photos/Soo.jpg); background-position: center; background-repeat : no-repeat}
.Soo:hover {	background-image: url(photos/Soo1.jpg); background-position: center; background-repeat : no-repeat}
.Tower {	background-image: url(photos/Tower.jpg); background-position: center; background-repeat : no-repeat}
.Tower:hover {	background-image: url(photos/MSC.jpg); background-position: center; background-repeat : no-repeat}
.SLK {	background-image: url(photos/SLK.jpg); background-position: center; background-repeat : no-repeat}
.SLK:hover {	background-image: url(photos/SLK1.jpg); background-position: center; background-repeat : no-repeat}
.Mingyu {	background-image: url(photos/Mingyu.jpg); background-position: center; background-repeat : no-repeat}
.Mingyu:hover {	background-image: url(photos/Mingyu1.jpg); background-position: center; background-repeat : no-repeat}
.Yangli {	background-image: url(photos/Yangli.jpg); background-position: center; background-repeat : no-repeat}
.Yangli:hover {	background-image: url(photos/Yangli1.jpg); background-position: center; background-repeat : no-repeat}
.Langari {	background-image: url(photos/Langari.jpg); background-position: center; background-repeat : no-repeat}
.Langari:hover {	background-image: url(photos/Langari.jpg); background-position: center; background-repeat : no-repeat}
.Huei {	background-image: url(photos/Huei.jpg); background-position: center; background-repeat : no-repeat}
.Huei:hover {	background-image: url(photos/Huei.jpg); background-position: center; background-repeat : no-repeat}
.Shanti {	background-image: url(photos/Shanti.jpg); background-position: center; background-repeat : no-repeat}
.Shanti:hover {	background-image: url(photos/Shanti.jpg); background-position: center; background-repeat : no-repeat}
.Chiu {	background-image: url(photos/Chiu.jpg); background-position: center; background-repeat : no-repeat}
.Chiu:hover {	background-image: url(photos/Chiu.jpg); background-position: center; background-repeat : no-repeat}
.Mschen {	background-image: url(photos/Mschen.jpg); background-position: center; background-repeat : no-repeat}
.Mschen:hover {	background-image: url(photos/Mschen1.jpg); background-position: center; background-repeat : no-repeat}
.Ktfeng {	background-image: url(photos/Ktfeng.jpg); background-position: center; background-repeat : no-repeat}
.Ktfeng:hover {	background-image: url(photos/Ktfeng.jpg); background-position: center; background-repeat : no-repeat}
.Budiman {	background-image: url(photos/Budiman.jpg); background-position: center; background-repeat : no-repeat}
.Budiman:hover {	background-image: url(photos/Budiman.jpg); background-position: center; background-repeat : no-repeat}
.Rob {	background-image: url(photos/Rob.jpg); background-position: center; background-repeat : no-repeat}
.Rob:hover {	background-image: url(photos/Rob1.jpg); background-position: center; background-repeat : no-repeat}
.Phillips {	background-image: url(photos/Phillips.jpg); background-position: center; background-repeat : no-repeat}
.Phillips:hover {	background-image: url(photos/Phillips.jpg); background-position: center; background-repeat : no-repeat}
.EricGross {	background-image: url(photos/EricGross.jpg); background-position: center; background-repeat : no-repeat}
.EricGross:hover {	background-image: url(photos/EricGross.jpg); background-position: center; background-repeat : no-repeat}
.Hclee {	background-image: url(photos/Hclee.jpg); background-position: center; background-repeat : no-repeat}
.Hclee:hover {	background-image: url(photos/Hclee1.jpg); background-position: center; background-repeat : no-repeat}
.Jiagen {	background-image: url(photos/Jiagen.jpg); background-position: center; background-repeat : no-repeat}
.Jiagen:hover {	background-image: url(photos/Jiagen.jpg); background-position: center; background-repeat : no-repeat}
.Ibaraki {	background-image: url(photos/Ibaraki.jpg); background-position: center; background-repeat : no-repeat}
.Ibaraki:hover {	background-image: url(photos/Ibaraki.jpg); background-position: center; background-repeat : no-repeat}
.Pushkin {	background-image: url(photos/Pushkin.jpg); background-position: center; background-repeat : no-repeat}
.Pushkin:hover {	background-image: url(photos/Pushkin.jpg); background-position: center; background-repeat : no-repeat}
.Shashisn {	background-image: url(photos/Shashisn.jpg); background-position: center; background-repeat : no-repeat}
.Shashisn:hover {	background-image: url(photos/Shashisn.jpg); background-position: center; background-repeat : no-repeat}
.Yao {	background-image: url(photos/Yao.jpg); background-position: center; background-repeat : no-repeat}
.Yao:hover {	background-image: url(photos/Yao.jpg); background-position: center; background-repeat : no-repeat}
.Horowitz {	background-image: url(photos/Horowitz.jpg); background-position: center; background-repeat : no-repeat}
.Horowitz:hover {	background-image: url(photos/Horowitz.jpg); background-position: center; background-repeat : no-repeat}
.Liyi {	background-image: url(photos/Liyi.jpg); background-position: center; background-repeat : no-repeat}
.Liyi:hover {	background-image: url(photos/Liyi.jpg); background-position: center; background-repeat : no-repeat}
.Satyajit {	background-image: url(photos/Satyajit.jpg); background-position: center; background-repeat : no-repeat}
.Satyajit:hover {	background-image: url(photos/Satyajit.jpg); background-position: center; background-repeat : no-repeat}
.Sujitsaraf {	background-image: url(photos/Sujitsaraf.jpg); background-position: center; background-repeat : no-repeat}
.Sujitsaraf:hover {	background-image: url(photos/Sujitsaraf.jpg); background-position: center; background-repeat : no-repeat}
.WeiguangNiu{	background-image: url(photos/WeiguangNiu.jpg); background-position: center; background-repeat : no-repeat}
.WeiguangNiu:hover {	background-image: url(photos/WeiguangNiu.jpg); background-position: center; background-repeat : no-repeat}
.JengyuWang{	background-image: url(photos/JengyuWang.jpg); background-position: center; background-repeat : no-repeat}
.JengyuWang:hover {	background-image: url(photos/JengyuWang.jpg); background-position: center; background-repeat : no-repeat}

.Sugi {	background-image: url(photos/Sugi.jpg); background-position: center; background-repeat : no-repeat}
.Sugi:hover {	background-image: url(photos/Sugi1.jpg); background-position: center; background-repeat : no-repeat}
.Jiaqi {	background-image: url(photos/Jiaqi.jpg); background-position: center; background-repeat : no-repeat}
.Jiaqi:hover {	background-image: url(photos/Jiaqi1.jpg); background-position: center; background-repeat : no-repeat}
.Qijun {	background-image: url(photos/Qijun.jpg); background-position: center; background-repeat : no-repeat}
.Qijun:hover {	background-image: url(photos/Qijun1.jpg); background-position: center; background-repeat : no-repeat}
.Iwase {	background-image: url(photos/Iwase.jpg); background-position: center; background-repeat : no-repeat}
.Iwase:hover {	background-image: url(photos/Iwase1.jpg); background-position: center; background-repeat : no-repeat}
.Lunenburg {	background-image: url(photos/Lunenburg.jpg); background-position: center; background-repeat : no-repeat}
.Lunenburg:hover {	background-image: url(photos/Lunenburg1.jpg); background-position: center; background-repeat : no-repeat}
.Jshu {	background-image: url(photos/jshu.jpg); background-position: center; background-repeat : no-repeat}
.Jshu:hover {	background-image: url(photos/jshu.jpg); background-position: center; background-repeat : no-repeat}
.WeiYao {	background-image: url(photos/WeiYao.jpg); background-position: center; background-repeat : no-repeat}
.WeiYao:hover {	background-image: url(photos/WeiYao.jpg); background-position: center; background-repeat : no-repeat}
.Pushkar {	background-image: url(photos/Pushkar.jpg); background-position: center; background-repeat : no-repeat}
.Pushkar:hover {	background-image: url(photos/Pushkar.jpg); background-position: center; background-repeat : no-repeat}
.Guang {	background-image: url(photos/Guang.jpg); background-position: center; background-repeat : no-repeat}
.Guang:hover {	background-image: url(photos/Guang.jpg); background-position: center; background-repeat : no-repeat}
.AtsukiNaka {	background-image: url(photos/AtsukiNaka.jpg); background-position: center; background-repeat : no-repeat}
.AtsukiNaka:hover {	background-image: url(photos/AtsukiNaka.jpg); background-position: center; background-repeat : no-repeat}
.Renwen {	background-image: url(photos/Renwen.jpg); background-position: center; background-repeat : no-repeat}
.Renwen:hover {	background-image: url(photos/Renwen.jpg); background-position: center; background-repeat : no-repeat}
.ChowYin {	background-image: url(photos/ChowYin.jpg); background-position: center; background-repeat : no-repeat}
.ChowYin:hover {	background-image: url(photos/ChowYin.jpg); background-position: center; background-repeat : no-repeat}
.Jianxiao {	background-image: url(photos/Jianxiao.jpg); background-position: center; background-repeat : no-repeat}
.Jianxiao:hover {	background-image: url(photos/Jianxiao1.jpg); background-position: center; background-repeat : no-repeat}
.Daniel {	background-image: url(photos/Daniel.jpg); background-position: center; background-repeat : no-repeat}
.Daniel:hover {	background-image: url(photos/Daniel1.jpg); background-position: center; background-repeat : no-repeat}
.Freek {	background-image: url(photos/Freek.jpg); background-position: center; background-repeat : no-repeat}
.Freek:hover {	background-image: url(photos/Freek1.jpg); background-position: center; background-repeat : no-repeat}
.Atsushi {	background-image: url(photos/Atsushi.jpg); background-position: center; background-repeat : no-repeat}
.Atsushi:hover {	background-image: url(photos/Atsushi1.jpg); background-position: center; background-repeat : no-repeat}
.Jacobs {	background-image: url(photos/Jacobs.jpg); background-position: center; background-repeat : no-repeat}
.Jacobs:hover {	background-image: url(photos/Jacobs.jpg); background-position: center; background-repeat : no-repeat}
.Zheming {	background-image: url(photos/Zheming.jpg); background-position: center; background-repeat : no-repeat}
.Zheming:hover {	background-image: url(photos/Zheming1.jpg); background-position: center; background-repeat : no-repeat}
.Miguel {	background-image: url(photos/Miguel.jpg); background-position: center; background-repeat : no-repeat}
.Miguel:hover {	background-image: url(photos/Miguel.jpg); background-position: center; background-repeat : no-repeat}
.DaeKyu {	background-image: url(photos/DaeKyu.jpg); background-position: center; background-repeat : no-repeat}
.DaeKyu:hover {	background-image: url(photos/DaeKyu1.jpg); background-position: center; background-repeat : no-repeat}
.JSalt {	background-image: url(photos/JSalt.jpg); background-position: center; background-repeat : no-repeat}
.JSalt:hover {	background-image: url(photos/JSalt.jpg); background-position: center; background-repeat : no-repeat}
.Jonathan {	background-image: url(photos/Jonathan.jpg); background-position: center; background-repeat : no-repeat}
.Jonathan:hover {	background-image: url(photos/Jonathan.jpg); background-position: center; background-repeat : no-repeat}
.Edward {	background-image: url(photos/Edward.jpg); background-position: center; background-repeat : no-repeat}
.Edward:hover {	background-image: url(photos/Edward1.jpg); background-position: center; background-repeat : no-repeat}
.Jacqueline {	background-image: url(photos/Jacqueline.jpg); background-position: center; background-repeat : no-repeat}
.Jacqueline:hover {	background-image: url(photos/Jacqueline.jpg); background-position: center; background-repeat : no-repeat}
.YunJung {	background-image: url(photos/YunJung.jpg); background-position: center; background-repeat : no-repeat}
.YunJung:hover {	background-image: url(photos/YunJung1.jpg); background-position: center; background-repeat : no-repeat}
.SJung {	background-image: url(photos/SJung.jpg); background-position: center; background-repeat : no-repeat}
.SJung:hover {	background-image: url(photos/SJung.jpg); background-position: center; background-repeat : no-repeat}
.Yongjoon {	background-image: url(photos/Yongjoon.jpg); background-position: center; background-repeat : no-repeat}
.Yongjoon:hover {	background-image: url(photos/Yongjoon1.jpg); background-position: center; background-repeat : no-repeat}
.Kuo-Hsiang {	background-image: url(photos/Kuo-Hsiang.jpg); background-position: center; background-repeat : no-repeat}
.Kuo-Hsiang:hover {	background-image: url(photos/Kuo-Hsiang.jpg); background-position: center; background-repeat : no-repeat}
.Ryuzo {	background-image: url(photos/Ryuzo.jpg); background-position: center; background-repeat : no-repeat}
.Ryuzo:hover {	background-image: url(photos/Ryuzo.jpg); background-position: center; background-repeat : no-repeat}
.Yu {	background-image: url(photos/Yu.jpg); background-position: center; background-repeat : no-repeat}
.Yu:hover {	background-image: url(photos/Yu.jpg); background-position: center; background-repeat : no-repeat}

.Yuki {	background-image: url(photos/Yuki.jpg); background-position: center; background-repeat : no-repeat}
.Yuki:hover {	background-image: url(photos/Yuki1.jpg); background-position: center; background-repeat : no-repeat}
.Guenthner {	background-image: url(photos/Guenthner.jpg); background-position: center; background-repeat : no-repeat}
.Guenthner:hover {	background-image: url(photos/Guenthner.jpg); background-position: center; background-repeat : no-repeat}

.nopic { background-image: url(current/nopic.jpg);}
