vti_encoding:SR|utf8-nl
vti_author:SR|CLAUDIA\\Administrator
vti_modifiedby:SR|CLAUDIA\\Administrator
vti_timelastmodified:TR|30 May 2003 04:34:22 -0000
vti_timecreated:TR|30 May 2003 04:34:22 -0000
vti_cacheddtm:TX|30 May 2003 04:34:18 -0000
vti_filesize:IR|1854
vti_cachedlinkinfo:VX|S|poehorsd.gif S|poebul1d.gif S|poebul2d.gif S|poebul3d.gif S|poebannd.gif S|poehbudd.gif S|poehbusd.gif S|poevbudd.gif S|poevbusd.gif S|poehombd.gif S|poenexbd.gif S|poeprebd.gif S|poeupbd.gif S|poebul1d.gif S|poebul2d.gif S|poebul3d.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/poetic/poehorsd.gif FSUS|_themes/poetic/poebul1d.gif FSUS|_themes/poetic/poebul2d.gif FSUS|_themes/poetic/poebul3d.gif FSUS|_themes/poetic/poebannd.gif FSUS|_themes/poetic/poehbudd.gif FSUS|_themes/poetic/poehbusd.gif FSUS|_themes/poetic/poevbudd.gif FSUS|_themes/poetic/poevbusd.gif FSUS|_themes/poetic/poehombd.gif FSUS|_themes/poetic/poenexbd.gif FSUS|_themes/poetic/poeprebd.gif FSUS|_themes/poetic/poeupbd.gif FSUS|_themes/poetic/poebul1d.gif FSUS|_themes/poetic/poebul2d.gif FSUS|_themes/poetic/poebul3d.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{8EA759A2-648F-4905-A883-F20A64A7F4CF}
vti_backlinkinfo:VX|
